@media (max-width: 991px) {
  .separator {
    height: 1rem;
    border: none;
    color: #777;
    background-color: #777;
    border-radius: 1rem;
  }
}

@media (min-width: 992px) {
  .separator {
    display: none;
  }
}
