<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input
      type="text"
      class="form-control"
      #newName
      placeholder="Insert a server name"
    />
    <label>Server Content</label>
    <input
      type="text"
      class="form-control"
      #newContent
      placeholder="Insert a server content"
    />
    <br />
    <div class="btn-toolbar">
      <button class="btn btn-primary" (click)="onAddServer(newContent)">
        Add Server
      </button>
      <button class="btn btn-primary" (click)="onAddBlueprint(newContent)">
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>
