.btn-toolbar {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-toolbar button {
  margin: 0 5px;
}

.ingredient-row {
  padding-top: 5px;
}

hr {
  margin: 10px 0;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
