<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<p>Server Name: {{ serverName }}</p>
<hr />
<label>Server Location</label>
<input type="text" class="form-control" [(ngModel)]="serverLocation" />
<p>Server Location: {{ serverLocation }}</p>
<hr />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<hr />
<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>

<hr />

<!-- Property Binding -->
<p [innerText]="allowNewServer"></p>

<!-- String Interpolation -->
<p>{{ allowNewServer }}</p>
