<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            *ngFor="let oddNumber of oddNumbers"
            class="list-group-item"
            [ngClass]="{ odd: oddNumber % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor:
                oddNumber % 2 !== 0
                  ? defaultColors.odd.background
                  : 'transparent'
            }"
          >
            {{ oddNumber }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li
            *ngFor="let evenNumber of evenNumbers"
            class="list-group-item"
            [ngClass]="{ even: evenNumber % 2 === 0 }"
            [ngStyle]="{
              backgroundColor:
                evenNumber % 2 === 0
                  ? defaultColors.even.background
                  : 'transparent'
            }"
          >
            {{ evenNumber }}
          </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li
            *ngFor="let evenNumber of evenNumbers"
            class="list-group-item"
            [ngClass]="{ even: evenNumber % 2 === 0 }"
            [ngStyle]="{
              backgroundColor:
                evenNumber % 2 === 0
                  ? defaultColors.even.background
                  : 'transparent'
            }"
          >
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p
        [appBetterHighlight]="onlyOdd ? defaultColors.odd : defaultColors.even"
        [highlightColor]="onlyOdd ? highlightColors.odd : highlightColors.even"
      >
        Style me with better directive!
      </p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchCase="1000">Value is 1000</p>
        <p *ngSwitchCaseDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
