<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul
      class="list-group"
      *ngIf="(ingredients | async).length > 0; else no_content"
    >
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients | async; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>
    <ng-template #no_content>There are no ingredients on the list.</ng-template>
  </div>
</div>
